@using Umbraco.Cms.Web.Common.PublishedModels;
@using F1_site.Controllers;
@using F1_site.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "layout.cshtml";
}

<section class="driver-standings container">
	<div class="schedule-header pt-4">
		<h1 class="fw-bolder display-1 m-0">F1 Standings 2024</h1>
		<p>2024 FIA FORMULA ONE WORLD CHAMPIONSHIP™ DRIVER STANDINGS</p>
	</div>

	<div class="grid-cols-4 gap-5">
		@{
			ScheduleController scheduleController = new();
			//Gets the drivers (sorted for there number of points)
			var drivers = scheduleController.GetDrivers();
			int i = 1;
			scheduleController.Dispose();
		}

		@foreach(F1Driver driver in drivers) {
			<div class="driver-tablet border-5 border-top border-end p-3">
				<div class="place-points d-flex justify-content-between">
					<p class="mb-0 display-3 fw-bolder">@i</p>
					<p class="mb-0 display-6">@driver.DriverPoints</p>
				</div>
				<div class="driver-name">
					<p class="mb-0 fw-bolder">@driver.DriverName</p>
				</div>
				<p class="mb-0 fw-lighter">@driver.DriverTeam</p>
				<div class="driver-number d-flex justify-content-between align-bottom">
					<p class="display-1 fw-bolder w-25">@driver.DriverNumber</p>
					<img class="w-75" src="/media/images/Drivers/default.png" />
				</div>
			</div>

			i += 1;
		}
	</div>
</section>
